body {
    background-image: url(../Images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
  }
   
form {
    background-color: #fff;
    padding: 2em 2em 2em;
    max-width: 30%;
    margin: 100px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 5px;
  }
  
  p {
    margin: 0 0 1em 0;
    position: relative;
  }

  label {
    display: block;
    margin: 0 0 .5em;
    color: #333;
  }
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none
  }
  input[type="text"],
  input[type="password"] {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    padding: .8em .5em;
    border-radius: 5px;
  }
  input[type="text"]:focus,
  input[type="password"]:focus {
    background-color: #fff
  }
 
  input[type="submit"] {
    background-color: #2F558E;
    box-shadow: 0 3px 0 0 #1D3C6A;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    line-height: 1.6em;
    padding: .8em 0;
    text-shadow: 0 1px #68B25B;
  
  }   

  .center{
    text-align: center;
  }

  /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
