body {
  background-image: url(../Images/login-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
  height: 100%;
  width:100%;
}
   
.box {
  position: relative;
  margin-top: 15vh;
}

@media (min-width: 576px){
    .jumbotron {
      padding: none;
  }

}


 