body {
  background-image: url(../Images/login-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  font-family: sans-serif;
  height: 100%;
  width:100%;
}

.box{
  position: relative;
  margin-top: 15vh;
}

#background_pic{
  height: 1080px;
  width: 1920px;
  background-image: url("../Images/Wallpaper.png");
  background-size: 100% 100%;
}

.col-8{
text-align: center;
} 
#start{
  height: 77%;
}
#center{
  height: 10%;
}
#end{
  height: 13%;
}

.delete_button {
  background: transparent;
  border: 1px solid #f00;
  border-radius: 2em;
  color: #f00;
  display: inline;
  font-size: 12px;
  height: 20px;
  line-height: 2px;
  margin: 0 0 8px;
  padding: 0;
  text-align: center;
  width: 20px;
  }

  form{
    display:inline;
  }

  .center_button{
    text-align:center;
    display: block;
  }


